<%- include('base', {title: 'Рецепты мира - Создание рецепта'}) -%>
<main>
    <form>
        <label for="title">Название рецепта:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Описание:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="ingredients">Ингредиенты:</label>
        <textarea id="ingredients" name="ingredients" required></textarea>

        <button type="submit">Сохранить рецепт</button>
    </form>
</main>
<%- include('footer') -%>