<!-- Модальное окно входа -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Вход в аккаунт</h2>
        <form id="loginForm" class="auth-form">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <p id="loginErrors"></p>
            <button type="submit">Войти</button>
        </form>
    </div>
</div>

<div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Регистрация</h2>
        <form id="registerForm" class="auth-form">
            <label for="reg-username">Имя пользователя:</label>
            <input type="text" id="reg-username" name="username" required>
            <label for="reg-email">Электронная почта:</label>
            <input type="text" id="reg-email" name="email" required>
            <label for="reg-password">Пароль:</label>
            <input type="password" id="reg-password" name="password" required>
            <p id="registerErrors"></p>
            <button form="registerForm" type="submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
<footer>
    <p>&copy; 2024 RecipeBook. Все права защищены.</p>
</footer>
<script nonce="<%- nonce %>" src="/static/js/auth.js"></script>
</body>
</html>